In [1]:
2 + 2

4

---
# Python Syntax Rules

1. Python is __case sensitive__

Cells : exists in three modes
	- Code Mode
		- python codes
		- codes can be executed
		- outputs are displayed below the cell

	- RawNB Convert 
		- raw text mode
		- we can write any text and neither that 	
	          will be compiled nor any text effects will
		  be shown 
          
          	- Markdown Mode
		- markdown codes can be executed
		- markdown is a way to get stylized text,
		  multimedia elements
          
dnhdhdhdhdhdhdh

<h2> What is Markdown? </h2>

Markdown is a process to have stylized text.

This is a <strong>sample</strong> text

<img src = "">

## This is H2

~~This is a text with strikethrough~~

In [ ]:
# this is a simple assignment operator
x = 10
# this line is a comment
# this is another line

In [ ]:
print
display

In [5]:
x = 10
y = 20
sum = x - y
sum

-10

In [8]:
13222.45/678.44

19.489490596073345

In [11]:
13222.45//678.44

19.0

In [12]:
25 ** 2

625

In [13]:
x = 10

x **= 2
x

100

In [15]:
x > 300

False

In [17]:
x > 50 and x < 70

SyntaxError: invalid syntax (<ipython-input-17-a4af13c62f9b>, line 1)

In [18]:
x = 100

In [19]:
type(x)

int

In [20]:
x = "abc"
# int x = 100;
# x = "abc"; // incorrect
# x = 10; // correct

In [21]:
x

'abc'

In [22]:
type(x)

str

In [ ]:
# Numbers
n1 = 100
n2 = 3264543626745367563563
n3 = 3252.26
n4 = 1452632354837632477463.247623742
n5 = 5 + 8j

# strings
s1 = 'abc'
s2 = "a"
s3 = '''AnalytixLabs
HSR Layout
Bengaluru
'''
s4 = "123.45"
s5 = "123"

# Booleans
l1 = 5 > 10
l2 = 10 < 100

## Tasks for the weeks
1. what is the datatype of n1..n5, s1..s5 and l1 and l2?
2. Convert numbers to strings and boolean and the result, convert it back to the respective number.
   Are there any cases where you see any data loss or any syntax errors?
3. Convert strings to numbers and boolean and the result, convert it back to the respective string.
   Are there any cases where you see any data loss or any syntax errors?
4. Convert boolean to strings and numbers and the result, convert it back to the respective boolean.
   Are there any cases where you see any data loss or any syntax errors?

In [1]:
x = 100

In [2]:
str(x)

'100'

In [3]:
type(x)

int

In [4]:
x

100

In [5]:
x = str(x)
x

'100'

In [6]:
type(x)

str

In [9]:
# any value to boolean
# float/int  --->  bool
# any non-zero number --> True
bool(234.34)
bool(-12)
bool(0)

# str to boolean

False

In [12]:
l1 = (4 < 3)

In [13]:
l1

False

In [14]:
type(l1)

bool

In [15]:
int(l1)

0

In [16]:
float(l1)

0.0

In [17]:
str(l1)

'False'

In [21]:
n1 = 43546576576798798.765768
int(n1)

round(n1,0)

-2147483647 to 2147483648

4.35465765767988e+16

In [19]:
int(342456.345)

342456

# Data Structures

## 1. tuples

1. one dimenstional, heterogenous data structure
2. no limit to no of elements that can be put in a tuple

### 1.1 Creating tuples

- by entering the values inside the `()`

In [1]:
x = 10
x

t1 = 10,12,45,32,12,34,56,78,21,34,23,77,54,23,40,22,16,29
# or
t1 = (10,12,45,32,12,34,56,78,21,34,23,77,54,23,40,22,16,29)

t1

(10, 12, 45, 32, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29)

In [2]:
type(t1)

tuple

In [3]:
t2 = (12,43,23,56.34,9495.093,"absc","wert","fghd",True,56<54)
t2

(12, 43, 23, 56.34, 9495.093, 'absc', 'wert', 'fghd', True, False)

In [4]:
type(t2)

tuple

### 1.2 Extracting elements from tuples

- we need to use `[]`
- and pass indexes to it
- indexing in Python ___begins from 0___ 
- and from the LHS
- for seqenced indexing, we need to use `:`
    - `start : end`
    - it will traverse from start and go until end-1
    > the upperbound in indexes are **excluded**

In [5]:
t1[4] # element at 4th index or 5th element

12

In [6]:
# get the seventh element in t1
t1[6]

56

In [7]:
t1[-5]

23

In [8]:
# for seqenced indexing, we need to use :
# Task : get first 6 elements of t1
# 0,1,2,3,4,5
t1[0:5] # incorrect
t1[0:6] # correct

(10, 12, 45, 32, 12, 34)

In [9]:
t1

(10, 12, 45, 32, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29)

In [10]:
# start : end
# 0:6 ---> 0,1,2,3,4,5

# 3 till 12
# 3,5,7,9,11

# start : end : increment

t1

t1[3:10:2]
# 3,5,7,9

(32, 34, 78, 34)

In [11]:
t1[0:10:2]
# 0,2,4,6,8,

(10, 45, 12, 56, 21)

In [12]:
# what if end num goes beyond the length of the tuple?
len(t1)

t1[0:25] # for an 18 element tuple, is not a problem at all
# t1[25] # incorrect
# IndexError                                


# can I restrict the length of the tuple by giving size?
len(t1)
t1[0:len(t1):2]

(10, 45, 12, 56, 21, 23, 54, 40, 16)

In [13]:
t1[3:]
t1[3::2]

(32, 34, 78, 34, 77, 23, 22, 29)

In [14]:
t1[:10] # from 0, to 9

(10, 12, 45, 32, 12, 34, 56, 78, 21, 34)

In [15]:
# Task : get rows 0,2,5,8,10,11
# cannot be done using []
# we need to use the loops

## 2. Lists

1. lists are one dimentional, heterogenous data structures
2. no limit to no of elements that can be put in a list

### 2.1 Creating lists

- by entering the values inside the `[]`

In [16]:
l1 = [10, 12, 45, 32, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29]
l1

[10, 12, 45, 32, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29]

In [17]:
type(l1)

list

In [18]:
l2 = [12, 43, 23, 56.34, 9495.093, 'absc', 'wert', 'fghd', True, False]
l2

[12, 43, 23, 56.34, 9495.093, 'absc', 'wert', 'fghd', True, False]

### 2.2 Extracting elements from lists

- we need to use `[]`
- and pass indexes to it
- indexing in Python ___begins from 0___ 
- and from the LHS
- for seqenced indexing, we need to use `:`
    - `start : end`
    - it will traverse from start and go until end-1
    > the upperbound in indexes are **excluded**

In [19]:
l1[4] # element at 4th index or 5th element

12

In [20]:
# get the seventh element in l1
l1[6]

56

In [21]:
l1[-5]

23

In [22]:
# for seqenced indexing, we need to use :
# Task : get first 6 elements of l1
# 0,1,2,3,4,5
l1[0:5] # incorrect
l1[0:6] # correct

[10, 12, 45, 32, 12, 34]

In [23]:
l1

[10, 12, 45, 32, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29]

In [24]:
# start : end
# 0:6 ---> 0,1,2,3,4,5

# 3 till 12
# 3,5,7,9,11

# start : end : increment

l1

l1[3:10:2]
# 3,5,7,9

[32, 34, 78, 34]

In [25]:
l1[0:10:2]
# 0,2,4,6,8,

[10, 45, 12, 56, 21]

In [26]:
# what if end num goes beyond the length of the list?
len(l1)

l1[0:25] # for an 18 element list, is not a problem at all
# l1[25] # incorrect
# IndexError                                


# can I restrict the length of the list by giving size?
len(l1)
l1[0:len(l1):2]

[10, 45, 12, 56, 21, 23, 54, 40, 16]

In [27]:
l1[3:]
l1[3::2]

[32, 34, 78, 34, 77, 23, 22, 29]

In [28]:
l1[:10] # from 0, to 9

[10, 12, 45, 32, 12, 34, 56, 78, 21, 34]

In [29]:
# Task : get rows 0,2,5,8,10,11 from the list
# cannot be done using []
# we need to use the loops

## Difference bn a tuple and a list

- **mutability vs immutability**
- tuples are immutable --> they're ***read-only***, meaning,
    - we can create and read
    - cannot update, delete, add, remove elements
- lists are mutable ----> the values can be changed
    - we can pop out the elements
    - we can change a certain element
    - we can append and insert elements

In [30]:
x = 10
print(x)

10

In [31]:
# memory locator - id()
id(x)

1931439456

In [32]:
x = x * 100
x

1000

In [33]:
id(x)

2877395082448

In [34]:
t1[4] = 444

TypeError: 'tuple' object does not support item assignment

In [ ]:
l1[4] = 444

In [ ]:
l1

# Conditionals

`if` statement

In [ ]:
x = -10

if x > 0:
    print("pos")
    print("yes")
else:
    print("neg")
    print("no")
     
print("we're out of if and else")

In [ ]:
# check if x is pos, neg or zero
x = -10
if x == 0:
    print("zero")
else:
    if x > 0:
        print("pos")
    else:
        print("neg")

In [35]:
# check if x is pos, neg or zero\
# if else and elif
x = -10
if x == 0:
    print("zero")
elif x > 0:
    print("pos")
else:
    print("neg")

neg

In [36]:
# ternary if

# a if cond else b
"pos" if x > 0 else "neg"

'neg'

In [37]:
"zero" if x == 0 else ("pos" if x > 0 else "neg")

# a if cond else b

'neg'

# Loops

In [38]:
# while
n=1
while(n <= 10):
    print(n*5)
    n = n + 1

5
10
15
20
25
30
35
40
45
50

In [39]:
# for loop
# for iterator in <tuple,list,set,dict>:
#    st1
#    st2

In [104]:
for ele in l1:
    print(ele)

10
12
45
32
444
34
56
78
21
34
23
77
54
23
40
22
16
29

In [105]:
# from tuple t1, get all elements that are < 50
for element in t1:
    if (element < 50):
        print(element)

10
12
45
32
12
34
21
34
23
23
40
22
16
29

In [108]:
# from tuple t1, get all elements that are > 30 and < 70
a = 0
for element in t1:
    if (element > 30) and (element < 70):
        print(element)
        a = a + 1
print(a)

45
32
34
56
34
54
40
7

for(int i=0; i < len(t1); i += 1){
    if(t1[i] > 30 && t1[i] < 70){
         printf(t1[i])
    }
}

In [46]:
# Range funcrtio 
# range(start, end, increment)
# generates numbers from start till end-1
tuple(range(0,len(t1),1))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17)

In [43]:
for index in range(0, len(t1)):
    if t1[index] > 30 and t1[index] < 70:
        print(t1[index])

45
32
34
56
34
54
40

In [109]:
t1

(10, 12, 45, 32, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29)

In [112]:
count = 0
for ele in t1:
    if ele == 40:
        print(ele)
        break
    else:
        count+=1
print("The position of the element 40 is :",count)

40
The position of the element 40 is : 14

In [113]:
l1

[10, 12, 45, 32, 444, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29]

# The extraction problem of tuple and list

In [115]:
# Task : get rows 0,2,5,8,10,11 from the list
# cannot be done using []
# we need to use the loops

req_indexes = [0,2,5,8,10,11]
for ix in req_indexes:
    print(l1[ix])

10
45
34
21
23
77

In [ ]:
# Tuples and lists
# creation
# extraction
# applying conditions
# attributes

# Attributes of any object

- functions and data that are associated with only that object
- only that object can access and use those attributes
- we can get a list of attributes of an object using the `dir(obj)` function
- how do we use it??
    - by using the . operator
- invoking documentation or help
- what are those \__xxxx__

In [47]:
t1

(10, 12, 45, 32, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29)

In [49]:
print(dir(t1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [51]:
print(dir(l1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [52]:
s1 = "python class"
print(dir(s1))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [55]:
s1.upper()

'PYTHON CLASS'

In [56]:
s1.split(" ")

['python', 'class']

In [58]:
l1.count(12)

2

In [60]:
?len()

In [61]:
s1.upper?

In [62]:
l1.count?

## attributes of tuple

In [63]:
print(dir(t2))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

## attributes of list

In [64]:
print(dir(l1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [65]:
l1

[10, 12, 45, 32, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29]

In [66]:
l1.append(100)

In [67]:
l1

[10, 12, 45, 32, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29, 100]

In [69]:
l1.insert?

In [70]:
l1.insert(4,400)

In [72]:
print(l1)

[10, 12, 45, 32, 400, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29, 100]

In [73]:
l1.pop()

100

In [74]:
l1

[10, 12, 45, 32, 400, 12, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29]

In [76]:
l1.pop(5)

12

In [77]:
l1

[10, 12, 45, 32, 400, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29]

In [83]:
# from l1, get all elements that are > 30 and < 70 and put them in a new list
res = list()
for ele in l1:
    if ele > 30 and ele < 70:
        res.append(ele)
print(res)

[45, 32, 34, 56, 34, 54, 40]

## Additional topics on lists

1. list comprehensions
2. map and filter

In [88]:
# List comprehensions
# the ability to insert values into a list via an object
# it's a different approach of using conditionals and loops on a list

[i for i in l1]

[10, 12, 45, 32, 400, 34, 56, 78, 21, 34, 23, 77, 54, 23, 40, 22, 16, 29]

In [89]:
[i for i in l1 if i > 30 and i < 70]

[45, 32, 34, 56, 34, 54, 40]

In [94]:
# take all elements in the below list l2 and get the square of all elements into a new list called res
l2 = [2,6,5,7,10,25]

res = [i**2 for i in l2]
res

[4, 36, 25, 49, 100, 625]

# Set and Dictionary

In [96]:
# Set is a unique collection of elements
# Create 
{2,4,5,2,4,1,3,5,6,4,3,2,1,2,6,7,5,4,3,2,1,2,3,4}

{1, 2, 3, 4, 5, 6, 7}

In [97]:
{2,4,'pqr',7,'aef','pae','pnr','b',5,4,3,2,1,2,3,4}

{1, 2, 3, 4, 5, 7, 'aef', 'b', 'pae', 'pnr', 'pqr'}

In [101]:
# dictionary
# a key:value pair data structure
# value is the contents of the dictionary
# those values are referred and accessed using the key, rather than 0 to n-1 indexes
# {key1:value1,key2:value2,key3:value3,..,}

scores = {'math':90,'phy':95,'eng':88,'eco':50,'che':62}
type(scores)

dict

In [102]:
scores

{'math': 90, 'phy': 95, 'eng': 88, 'eco': 50, 'che': 62}

In [103]:
# rules for keys and values
# 1. key has to be unique
# 2. key must be immutable - 
#    str, float, int, bool, tuple --> can be keys
#     list, dict etc -> cannot be keys
# 3. values can be anything

In [108]:
{'math':90,'phy':95,'eng':88,'eco':50,'che':62,'math':88,(1,3,5):24627.374}

{'math': 88, 'phy': 95, 'eng': 88, 'eco': 50, 'che': 62, (1, 3, 5): 24627.374}

In [110]:
# Accessing elements
# []

scores[1]

KeyError: 1

In [112]:
scores['phy']

95

In [113]:
# dict are mutable
scores['phy'] = 90
scores

{'math': 90, 'phy': 90, 'eng': 88, 'eco': 50, 'che': 62}

In [114]:
# Applying conditions
# dict iterate on the keys
# list and tuple iterate on the values directly

In [115]:
for i in scores:
    print(i)

math
phy
eng
eco
che

In [117]:
for i in scores:
    if scores[i] >= 90:
        print(i,":",scores[i])

math : 90
phy : 90

In [119]:
# Attributes
print(dir(scores))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [121]:
list(scores.keys())

['math', 'phy', 'eng', 'eco', 'che']

In [122]:
list(scores.values())

[90, 90, 88, 50, 62]

In [124]:
for i in scores.values():
    print(i)

90
90
88
50
62

In [129]:
{'a':12,'b':56,"c":None}

{'a': 12, 'b': 56, 'c': None}

In [138]:
scores

{'math': 90, 'phy': 90, 'eng': 88, 'eco': 50, 'che': 62}

In [141]:
scores['phy'] = 95
scores

{'math': 90, 'phy': 95, 'eng': 88, 'eco': 50, 'che': 62}

In [142]:
scores['comp'] = 89
scores

{'math': 90, 'phy': 95, 'eng': 88, 'eco': 50, 'che': 62, 'comp': 89}

In [143]:
# Task : take all elements of l2, square it and insert in a dict where keys are the original 
# numbers and the values are the squares of the numbers
# l2
res_dict = {}
for ele in l2:
    res_dict[ele] = ele**2
res_dict

{2: 4, 6: 36, 5: 25, 7: 49, 10: 100, 25: 625}

In [132]:
l2
[i**2 for i in l2]

[4, 36, 25, 49, 100, 625]

# Functions

In [152]:
def sqrt(x):
    return(x ** (1/2))

In [153]:
res = sqrt(625)

In [154]:
res

25.0

In [155]:
def power(x,p):
    return(x**p)

In [157]:
power(10,2)

100

In [158]:
power(10)

TypeError: power() missing 1 required positional argument: 'p'

In [159]:
def power(x,p=1):
    return(x**p)

In [162]:
power(10)

10

In [184]:
def add_two_nums(x=0,y=0):
    return(x + y)

In [183]:
add_two_nums() # args

0

In [170]:
add_two_nums(x=20,y=10) # kwargs

30

In [178]:
def power(x,p=1):
    '''
    power(x,p=1)
    ----------------------------------------
    This function is used to calculate the value of x raised to the power p. The default value of p
    is set to 1
    Arguments : 
    1. x : the number
    2. p : the power
    '''
    return(x**p)

In [179]:
power(10,3)

1000

In [180]:
?power()

In [181]:
power.__doc__

'\n    power(x,p=1)\n    ----------------------------------------\n    This function is used to calculate the value of x raised to the power p. The default value of p\n    is set to 1\n    Arguments : \n    1. x : the number\n    2. p : the power\n    '